body {
  width: 100%;
  font-family: $font-body;
  font-size: $font-body-size;
}

.site-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient( 135deg, $color-light-blue 10%, $color-blue 100%) fixed;
}

.site-content {
  flex: 1 0 auto;
  padding: $space-x-large;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: $font-heading;
  color: $color-dark-blue;

  @include media($max: $bp-small) {
    text-align: center;
  }
}
